.s4block{
  width: 100%;
  height: auto;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background: #FEC89A;
}
.s4_container{
  grid-column: 2/3;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.s4_left{
  align-self: center;
}
.s4_left h4{
  font-size: 32px;
  margin-bottom: 20px;
}
.s4_left p{
  font-size: 22px;
  font-weight: 600;
}

.s4_right,.s4_right img{
  border-radius: 40px;
}
.s4_right{
  width: 480px;
  height: 480px;
}

@media(max-width: 1300px){

}
@media(max-width: 1200px){
  .s4block{
    grid-template-columns: 50px 1fr 50px;
  }
  .s4_container{
    grid-column: 2/3;
  }
  .s4_right{
    width: 332px;
    height: 332px;
  }
}
@media(max-width: 810px){
  .s4_container{
    flex-direction: column-reverse;
  }
  .s4_right{
    display: flex;
    align-self: center;
  }
  /* .s4_right{
    width: 100%;
    height: 300px;

  } */
}

@media(max-width: 490px){
  .s4block{
    grid-template-columns: 10px 1fr 10px;
  }
  .s4_right,.s4_right img{
    width: 100%;
    height: 100%;
    /* height: 300px; */

  }
  .s4_left h4{
    font-size: 22px;
  }
  .s4_left p{
    font-size: 14px;
  }
}
