.s5block{
  width: 100%;
  height: auto;
  padding: 100px 0;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background: #FEC89A;
}
.s5_container{
  grid-column: 2/3;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.s5_right{
  align-self: center;
}
.s5_right h4{
  font-size: 32px;
  margin-bottom: 20px;
}
.s5_right p{
  font-size: 22px;
  font-weight: 600;
}

.s5_left,.s5_left img{
  border-radius: 40px;
}
.s5_left{
  width: 480px;
  height: 480px;
}
.s5_left img{
  width: 100%;
  height: 100%;
}
@media(max-width: 1300px){

}
@media(max-width: 1200px){
  .s5block{
    grid-template-columns: 50px 1fr 50px;
  }
  .s5_container{
    grid-column: 2/3;
  }
  .s5_left,.s5_left img{
    width: 332px;
    height: 332px;
  }
}
@media(max-width: 810px){
  .s5_container{
    flex-direction: column;
  }
  .s5_left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media(max-width: 490px){
  .s5block{
    grid-template-columns: 10px 1fr 10px;
  }
  .s5_container{
    grid-column: 2/3;
  }
  .s5_left,.s5_left img{
    width: 100%;
    height: 100%;
  }
  .s5_right h4{
    font-size: 22px;
  }
  .s5_right p{
    font-size: 14px;
  }
}
@media(max-width: 280px){

  .s5_left,.s5_left img{
    width: 100%;
    height: 191px;
  }
}
